.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 3px solid red;
  line-height: 2em;
  padding: 0 8em;
  background-color: rgba(0, 0, 0, 0.2);

  .logo {
    height: 2em;
    width: 2em;
  }
}
